In [1]:
print("hello word");

hello word

In [2]:
234

234

In [3]:
print("hello")

hello

# Python Data Types
- integer
- float
- string
- boolean
- list
- tuple
- dictionary

In [4]:
# integer - bilangan bulat
print(345)
print(type(345))

345
<class 'int'>

In [5]:
# float - angka desimal
print(14.5)
print(type(14.5))

14.5
<class 'float'>

In [6]:
# String - Text yang dikutip
print("hi")
print(type("hi"))

hi
<class 'str'>

In [7]:
# Boolean - True atau False
print(True)
print(False)
print(type(True))
print(type(False))

True
False
<class 'bool'>
<class 'bool'>

In [8]:
# ubah float jadi tipe data lain
print(str(14.5))
print(type(str(14.5)))

print(int(14.5))
print(type(int(14.5)))

print(bool(14.5))
print(type(bool(14.5)))

14.5
<class 'str'>
14
<class 'int'>
True
<class 'bool'>

In [9]:
# ubah int jadi float
print(float(250))
print(type(float(250)))

250.0
<class 'float'>

In [10]:
# ubah jadi boolean
print("")
print(bool(""))

print(0)
print(bool(0))

False
0
False

In [11]:
print(0.000001)
print(bool(0.000001))

1e-06
True

# Variable Assignment
memberikan nama untuk bisa manggil datanya

variable - nama yang kita berikan   
variable assignment - nama yg tadi dibuat kita kasih, "assign" datanya

In [12]:
n = 900

In [13]:
print(n)

900

In [14]:
print(n/2)

450.0

In [15]:
print(n*2)

1800

In [16]:
# cara assign banyak variable ke data yang sama
a = 900
b = 900
c = 900

a = b = c = 900

In [17]:
n = "apa"

In [18]:
print(n)

apa

## Peraturan memberi nama variable
- tidak boleh dimulai dengan angka
- spasi digantikan dengan _
- harus huruf kecil semua
- pemilihan kata yang sopan

## Operators in Python

% - modulo, ambil sisanya saja dari sebuah pembagian   
contohnya 5 bagi 2 adalah 2 sisa 1, modulo akan memberi kita angka 1

** - pangkat, `10**2` adalah 10 pangkat 2

In [19]:
a = 20
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)

25
15
100
4.0

In [20]:
print(a % b)

0

In [21]:
print(a ** b)

3200000

In [22]:
print(6**4)

1296

In [23]:
print(a + b * 9 / 5 - 10)

19.0

In [24]:
# string juga bisa
kata_kata = "halo"
print(kata_kata + " selamat pagi ")

halo selamat pagi

In [25]:
print(kata_kata*3)

halohalohalo

## comparison
membandingkan dua data

In [26]:
a = 99
b = 200

print(a > b)
print(a < b)

print(a == b)
print(a != b)

print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [27]:
# string cek apakah ada sesuatu di dalam, kyk search
print("a" in "Aura")

True

In [28]:
print("a" in kata_kata)

True

In [29]:
# false karena semuanya huruf kapital
print("a" in "AMAZON")

False

In [30]:
# kita bisa manipulasi string, ubah kapitalnya
message = "mudah dimengerti"

print(message)

# jadi huruf kecil semua
print(message.lower())

# jadi huruf besar semua
print(message.upper())

# jadi huruf pertama saja yang besar
print(message.capitalize())

# jadi setiap kata huruf pertama saja yang besar
print(message.title())

# huruf besar jadi kecil, huruf kecil jadi besar
print(message.swapcase())

mudah dimengerti
mudah dimengerti
MUDAH DIMENGERTI
Mudah dimengerti
Mudah Dimengerti
MUDAH DIMENGERTI

# List

# Tuples
sama kayak list, hanya:
- bikinnya pakai ( )
- isinya tidak bisa diganti

In [31]:
tuple_nilai = (100,50,90)

In [32]:
tuple_nilai[1] = 95

TypeError: 'tuple' object does not support item assignment

# Dictionary
tipe data yang mencoba mendeskripsikan barang nyata ke komputer.

In [ ]:
mobil = {
    "merk":"mustang",
    "automatic": True,
    "tahun_beli": 2025
}

In [ ]:
print(mobil["merk"])

mustang

In [ ]:
print(mobil["tahun_beli"])

2025

In [ ]:
mobil["aksesoris"] = ["jok", 
                      "knalpot", 
                      "ban"]

In [ ]:
print(mobil)

{'merk': 'mustang', 'automatic': True, 'tahun_beli': 2025, 'aksesoris': ['jok', 'knalpot', 'ban']}

In [ ]:
customer = {
    "nama": "Vera",
    "sudah_bayar": True,
    "tinggi": 155,
    "makanan_kesukaan": ["nasi padang",
                        "ayam bakar",
                        "ice cream"]
}

In [ ]:
print(customer)

{'nama': 'Vera', 'sudah_bayar': True, 'tinggi': 155, 'makanan_kesukaan': ['nasi padang', 'ayam bakar', 'ice cream']}

In [ ]:
print(customer["makanan_kesukaan"][0])

nasi padang

In [ ]:
customer["tinggi"] = 160
print(customer)

{'nama': 'Vera', 'sudah_bayar': True, 'tinggi': 160, 'makanan_kesukaan': ['nasi padang', 'ayam bakar', 'ice cream']}

## built-in method milik dictionary

In [ ]:
print(customer.items())
# kumpulan key dan value (key, value) di sebuah list

dict_items([('nama', 'Vera'), ('sudah_bayar', True), ('tinggi', 160), ('makanan_kesukaan', ['nasi padang', 'ayam bakar', 'ice cream'])])

In [ ]:
print(customer.keys())
# list isi keys dictionary nya saja

dict_keys(['nama', 'sudah_bayar', 'tinggi', 'makanan_kesukaan'])

In [ ]:
print(customer.values())

dict_values(['Vera', True, 160, ['nasi padang', 'ayam bakar', 'ice cream']])

# Conditional

In [ ]:
# apakah customer tadi bisa naik roller coaster?
# minimal tinggi 120

if (customer["tinggi"] >= 120):
    print("boleh, cukup tinggi untuk naik roller coaster")

boleh, cukup tinggi untuk naik roller coaster

In [ ]:
tinggi = 100

if (tinggi >= 120):
    print("boleh, cukup tinggi untuk naik roller coaster")

In [ ]:
tinggi = 180

if (tinggi >= 120):
    print("boleh, cukup tinggi untuk naik roller coaster")
    
    
    
    print("(tinggi >= 120) True")
else:
    print("(tinggi >= 120) False")
    print("tidak boleh, kurang tinggi untuk naik dengan aman")
    
print("selesai") # di luar if, selalu jalan

boleh, cukup tinggi untuk naik roller coaster
(tinggi >= 120) True
selesai

## else if

In [ ]:
nilai = 95

# ubah nilai jadi A, B atau C
# A > 90, B > 80, C > 60

if (nilai > 90):
    print("A, nilai > 90")
elif (nilai > 80):
    print("B, nilai > 80")
elif (nilai > 60):
    print("C, nilai > 60")
else:
    print("D, nilai 60 kebawah")

A, nilai > 90

## ada banyak kondisi

In [ ]:
nilai = 100
absen = 10

# untuk lulus, minimal nilai 60, minimal absen 5

if (nilai >= 60 and absen >= 5):
    print("lulus, nilai >= 60 DAN absen >= 5")
else:
    print("tidak lulus")
    if (absen < 5):
        print("jumlah absensi kurang dari 5")
        
    if (nilai < 60):
        print("nilainya kurang dari 60")

lulus, nilai >= 60 DAN absen >= 5

In [ ]:
# untuk naik bom bom car, 
# kalau anak kecil <= 100cm gratis
# kalau dewasa berbaya

tinggi = 170
bayar = True

if (tinggi <= 100 or bayar == True):
    print("boleh naik bom bom car")
else:
    print("tinggi > 100 cm, sudah tidak grtis")
    print("belum bayar")

boleh naik bom bom car

In [ ]:
bayar = False
print(bayar)
print(bayar == True)

False
False

# Loop
melakukan code yang sama berulang kali
- while (berhenti saat kondisi False)
- for (untuk setiap barang dalam sebuah koleksi)

koleksi:
- list
- string
- dictionary
- tuple
- range

## while loop
cara tulis hampir sama dengan if

In [ ]:
tinggi = 160

while (tinggi <= 170):
    print("tinggi", tinggi, "cm. boleh naik bom bom car")
    tinggi = tinggi + 1

tinggi 160 cm. boleh naik bom bom car
tinggi 161 cm. boleh naik bom bom car
tinggi 162 cm. boleh naik bom bom car
tinggi 163 cm. boleh naik bom bom car
tinggi 164 cm. boleh naik bom bom car
tinggi 165 cm. boleh naik bom bom car
tinggi 166 cm. boleh naik bom bom car
tinggi 167 cm. boleh naik bom bom car
tinggi 168 cm. boleh naik bom bom car
tinggi 169 cm. boleh naik bom bom car
tinggi 170 cm. boleh naik bom bom car

## Infinite Loop
loop yang jalan selamanya

```python
tinggi = 90

while (tinggi <= 100):
    print("tinggi", tinggi, "cm. boleh naik bom bom car")
```

karena tidak ada code di dalam loop nya, yang merubah kondisi awal `(tinggi <= 100)` menjadi False, maka kondisi akan True selamanya. Selama kondisi True, loop berjalan. loop berjalan selamanya.

# For loop
mengambil semua barang satu per satu dalam sebuah koleksi

In [ ]:
list_buah = ["anggur", "lemon", "pisang"]

In [ ]:
for buah in list_buah:
    print(buah)

anggur
lemon
pisang

In [ ]:
for nilai in (82, 93, 54):
    print("nilai ujian adalah:", nilai)

nilai ujian adalah: 82
nilai ujian adalah: 93
nilai ujian adalah: 54

In [ ]:
for key in customer:
    print(key, customer[key])

nama Vera
sudah_bayar True
tinggi 160
makanan_kesukaan ['nasi padang', 'ayam bakar', 'ice cream']

In [ ]:
k = "nama"
print(customer[k])

Vera

In [ ]:
for count in range(15):
    print(count)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [ ]:
for count in range(8, 80, 16):
    print(count)

8
24
40
56
72

In [ ]:
nama = "Vera"
# ada huruf a atau A di dalam nama?
print("a" in nama.lower())

True

In [ ]:
print("a" in nama or "A" in nama)

True